.container {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    font-size: 0.9em;
    font-weight: 300;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid var(--border-color);
    font-weight: 500;
    font-size: 1.5em;
    padding: 0 16px;
}

.item {
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 16px;
    border-left: 2px solid transparent;
    border-bottom: 1px solid var(--border-color);
}

.link:last-child .item {
    border-bottom: none;
}

.item:hover {
    border-left: 2px solid var(--highlight-color-blue);
    background-color: var(--hover-background);
}