.section {
    height: calc(100dvh - 64px);
    min-height: 760px;
    max-height: 1440px;
    display: flex;
    align-items: center;
}

.introSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 18px;
}

@media (max-width: 900px) {
    .section {
        height: 480px;
    }
}