.table {
    font-variant-numeric: tabular-nums;
}

.downloadPdfBtn {
    margin-top: 12px;
}

@media (max-width: 600px) {
    .table tr td, .table tr th {
        font-size: 0.75em !important;
    }
}