.logo {
    cursor: pointer;
}

.appbarContainer {
    background-color: var(--dark-background);
    border-bottom: 1px solid var(--border-color);
    z-index: 10;
    top: 0;
    position: sticky;
    box-shadow: var(--shadow-appbar);
}

.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
    margin: 0 8px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--contrast-background);
    font-size: 0.9em;
}

.activeNavLink, .navLink:hover {
    background-color: var(--contrast-background);
}