.appbarContainer .logo {
    cursor: pointer;
    margin: 0 8px;
}


.logoContainer {
    flex-grow: 1;
}

.appbarContainer {
    background-color: var(--dark-background);
    border-bottom: 1px solid var(--border-color);
    z-index: 10;
    top: 0;
    position: sticky;
    box-shadow: var(--shadow-appbar);
}

.navLinkContainer {
    height: 64px;
}

.navLink {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
    margin: 0;
    min-height: 100%;
    font-size: 0.9em;
    border-bottom: 2px solid transparent;
}

.activeNavLink, .navLink:hover {
    border-bottom: 2px solid var(--highlight-color-blue);
    color: #fff;
}