.logo {
    cursor: pointer;
}

.appbarContainer {
    background-color: var(--dark-background);
    border-bottom: 1px solid var(--border-color);
    z-index: 10;
    top: 0;
    position: sticky;
    box-shadow: var(--shadow);
}