.container {
    max-width: 1200px;
    margin: 96px auto;
    line-height: 2em;
    font-size: 1.2em;
    padding: 24px;
    background-color: var(--background-secondary);
    border-radius: 16px;
}

.container p {
    font-size: 0.8em;
}

.container ul, .container ol {
    margin-left: 16px;
}

.section {
    margin-bottom: 64px;
}

.section h3 {
    margin-bottom: 24px;
}