.inputContainer {
    margin-bottom: 32px;
}

.inputWithLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: 160px;
}

.caption {
    font-size: 0.9em;
    color: var(--foreground-secondary);
}

.slider {
    padding: 8px 0 !important;
}