.container {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 180px;
    height: 180px;
    overflow: hidden;
    padding: 24px;
    text-align: left;
}

.container .label {
    font-size: 18px;
    color: var(--foreground);
    transition: opacity .3s ease;
}

.container:hover {
    box-shadow: var(--shadow-primary);
}

.container:hover .label {
    font-size: 18px;
    opacity: 1;
}

.img {
    transition: opacity .3s ease;
    opacity: 0.5;
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 1;
}

.container:hover .img {
    opacity: 1;
}