.footerTable {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footerColumn {
    margin: 8px;
}

.columnItemTitle {
    font-weight: 600;
    font-size: 18px;
    color: var(--foreground)
}

.columnItem {
    margin: 16px 0;
    color: var(--foreground-secondary)
}

.columnItem:hover {
    color: var(--foreground)
}


@media (min-width: 1200px) {
    .footerColumn {
        margin-left: 48px;
        margin-right: 48px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .footerColumn {
        margin: 8px;
    }

    .footerTable {
        font-size: 0.95em;
    }
}