.blogPost {
    max-width: 1200px;
    margin: 40px auto 64px;
    line-height: 28px;
}

.blogPost .content a {
    color: var(--highlight-color-blue)
}

.blogPost hr {
    border: 1px solid var(--border-color);
    margin: 12px 0;
}

.blogPost .content h2, .blogPost .content h3, .blogPost .content h4 {
    font-family: "Inter", serif;
    font-weight: 500;
    letter-spacing: 0px;
    user-select: text;
}

.blogPost h1 {
    font-family: Inter, Helvetica, sans-serif !important;
    letter-spacing: normal;
    font-size: 3.3em;
}

.blogPost .content h2 {
    font-size: 1.6em;
    margin: 48px 0 16px;
}

.blogPost .content h3 {
    font-size: 1.3em;
    margin: 32px 0 16px;
}

.blogPost .content h4 {
    font-size: 1.1em;
    margin: 24px 0 12px;
}

.blogPost .content p {
    margin: 16px 0 32px;
    font-weight: 300;
    font-size: 0.95em;
}

.blogPost .content ul, .blogPost .content ol {
    margin: 16px 0 16px 16px;
    font-weight: 300;
    font-size: 0.95em;
}

.blogPost li {
    margin-bottom: 8px;
}

.title {
    margin-bottom: 24px;
    font-size: 0.5em;
    user-select: text;
    font-weight: 400;
}

.blogInfo {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 0.8em;
    color: var(--foreground-secondary)
}

.blogInfoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    color: gray;
    margin-right: 4px;
}

.img {
    object-fit: cover;
    vertical-align: middle;
    object-position: top;
    transition: transform 0.3s ease-in-out;
    position: relative !important;
    border-radius: 12px;
}

.imageContainer {
    overflow: hidden;
    margin: 24px 0 24px;
}

.container {
    padding: 0 16px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (max-width: 600px) {
    .blogPost .content p {
        font-weight: 200;
        font-size: 0.9em;
    }

    .blogPost .content ul, .blogPost .content ol {
        font-weight: 200;
        font-size: 0.9em;
    }
}