.container {
    max-width: 1200px;
    margin: 64px auto 64px;
    line-height: 28px;
    background-color: var(--background-secondary);
    padding: 0 24px;
    border-radius: 16px;
}

.container .content a {
    color: var(--primary)
}

.container hr {
    border: 1px solid var(--border-color);
    margin: 16px 0;
}

.container .content h2, .container .content h3, .container .content h4 {
    font-family: "Inter", serif;
    font-weight: 500;
    letter-spacing: 0px;
    user-select: text;
}

.container h1 {
    font-family: Inter, Helvetica, sans-serif !important;
    letter-spacing: normal;
    font-size: 3.3em;
}

.container .content h2 {
    font-size: 1.6em;
    margin: 48px 0 16px;
}

.container .content h3 {
    font-size: 1.3em;
    margin: 32px 0 16px;
}

.container .content h4 {
    font-size: 1.1em;
    margin: 24px 0 12px;
}

.container .content p {
    margin: 16px 0 32px;
    font-weight: 400;
    font-size: 1em;
}

.container .content ul, .container .content ol {
    margin: 16px 0 16px 16px;
    font-weight: 400;
    font-size: 1em;
}

.container li {
    margin-bottom: 8px;
}

.title {
    margin-bottom: 24px;
    font-size: 0.5em;
    user-select: text;
    font-weight: 400;
}

.blogInfo {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 0.8em;
    color: var(--foreground-caption)
}

.blogInfoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    color: gray;
    margin-right: 4px;
}

.img {
    object-fit: cover;
    vertical-align: middle;
    object-position: top;
    transition: transform 0.3s ease-in-out;
    position: relative !important;
    border-radius: 12px;
}

.imageContainer {
    overflow: hidden;
    margin: 24px 0 24px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: sticky;
    top: 96px;
    bottom: 32px;
    margin-bottom: 32px;
}

@media (max-width: 600px) {
    .container .content p {
        font-size: 0.9em;
    }

    .container .content ul, .container .content ol {
        font-size: 0.9em;
    }
}