.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1600px;
    margin: 64px auto 0;
}

.blogCardsContainer {
    margin-bottom: 64px;
}

.container hr {
    border: 1px solid var(--border-color);
    margin: 8px 4px;
    width: 100%;
}

.pageTitle {
    font-size: 32px;
    margin-bottom: 64px;
    color: var(--foreground);
}