.incometaxColumns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 3rem;
}

.leftColumn, .rightColumn {
    width: 100%;
}

.primaryButton {
    border-radius: 64px !important;
    padding: 12px 64px !important;
    background-color: #2f9eff !important;
    color: #ffffff !important;
    font-size: 0.975rem !important;
    font-weight: 700 !important;
}