.caption {
    font-size: 0.9em;
    color: var(--foreground-secondary);
    margin-top: 8px;
}

.tinyButtonsContainer {
    display: flex;
    gap: 8px;
}

.inputContainer {
    margin-bottom: 32px;
}

.tenureContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;

}