.summaryBlock {
    margin-bottom: 32px;
}

.summaryTitle {
    margin-bottom: 8px;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: normal;
}

@media (max-width: 600px) {
    .summaryTitle {
        font-size: 1.1em;
        font-weight: 500;
    }
}