.container {
    max-width: 1200px;
    margin: 2rem auto;
}

.pageTitle, .pageSubtitle {
    text-align: center;
}

.faqs {
    margin-top: 64px;
}

@media (max-width: 600px) {
    .pageTitle {
        font-size: 1.5em;
    }

    .pageSubtitle {
        font-size: 1em;
    }
}