.pageInformation {
    font-family: "Inter", Helvetica, sans-serif !important;
    line-height: 28px;
    margin-top: 64px;
    padding: 8px 16px;
}

.pageInformation h1 {
    font-size: 1.8em;
    margin-bottom: 32px;
}

.pageInformation h2 {
    font-size: 1.6em;
}

.pageInformation h1, .pageInformation h2, .pageInformation h3, .pageInformation h4 {
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

.pageInformation p {
    font-family: "Inter", Helvetica, sans-serif !important;
    margin: 16px 0 32px;
    font-weight: 300;
    font-size: 0.95em;
}

.pageInformation ul, .pageInformation ol {
    margin: -16px 0 32px 16px;
    font-weight: 300;
    font-size: 0.95em;
}

.pageInformation table {
    margin-bottom: 48px;
}

@media (max-width: 600px) {
    .pageInformation p {
        font-weight: 200;
        font-size: 0.9em;
    }

    .pageInformation ul, .pageInformation ol {
        font-weight: 200;
        font-size: 0.9em;
    }
}