.section {
    display: flex;
    flex-direction: column;
    border-radius: 0.80rem;
    box-shadow: var(--shadow-primary);
    background-color: var(--background-secondary);
    padding: 1.5rem;
    transition: box-shadow 0.5s ease-in-out;
}

.fullHeight {
    height: 100%;
}

.section:hover {
    box-shadow: var(--shadow-elevated);
}

.title {
    margin-bottom: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: normal;
}

@media (max-width: 900px) {
    .title {
        font-size: 1.5em;
    }

    .section {
        border-radius: 0;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 1.3em;
    }
}