.section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 0.80rem;
    box-shadow: var(--shadow-section);
    background-color: var(--paper-1);
    height: 100%;
    padding: 1.5rem;
    transition: box-shadow 0.5s ease-in-out;
}

.section:hover {
    box-shadow: var(--shadow);
}

.title {
    margin-bottom: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: normal;
}

@media (max-width: 900px) {
    .section {
        border-radius: 0;
    }
}

@media (max-width: 600px) {
    .title {
        margin-bottom: 24px;
    }
}