.link {
    font-family: 'Inter';
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--highlight-color-blue);
    color: var(--foreground);
    padding: 8px 32px;
    border-radius: 48px;
    transition: background-color 0.3s ease-in-out;
    background: none;
}

.button {
    font-family: 'Inter';
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--highlight-color-blue);
    color: var(--foreground);
    padding: 8px 32px;
    border-radius: 48px;
    transition: background-color 0.3s ease-in-out;
    background: none;
    font-size: 0.9em;
    cursor: pointer;
}

.button:hover, .link:hover {
    background-color: var(--highlight-color-blue-dark);
    color: #FFF;
}

.button:active, .link:active {
    background-color: var(--highlight-color-blue);
}

.centered {
    display: flex;
    justify-content: center;
}