.inputContainer {
    margin-bottom: 32px;
}

.inputWithLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputYears {
    width: 160px;
}

.tenureContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.inputItem {
    flex-grow: 1;
}